/* @import url(); */

*, *::before, *::after {
  box-sizing: border-box;
  font-family: helvetica, arial, sans-serif;
}

:root {
  --light: #EDE4E0;
  --dark: #433827;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

body {
  background-color: var(--light);
  color: var(--dark);
  margin: 0;
  padding: 0;
}
 
img {
  margin: auto 0;
  width: 100%;
  height: auto;
}

