/*----------GLOBAL----------*/
*, *::before, *::after {
  box-sizing: border-box;
  font-family: helvetica, arial, sans-serif;
}

:root {
  --light: #ffffff;
  --dark: #2B2B2B;
  --grey: #C5C5C5;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--dark);
  margin: 0;
  padding: 0;
  background-image: url(../images/mountain-1.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
 
img {
  margin: auto 0;
  width: 100%;
  height: auto;
}

p {
  font-size: 1.2rem;
  margin: 0;
}

/*----------HEADING----------*/
h1 {
  font-size: 2rem;
  font-weight: 500;
  background-color: var(--light);
  border-radius: 0.45rem;
  padding: 0.2rem 0.5rem;
  margin: 6rem 4rem;
}

.heading {
  display: flex;
  justify-content: flex-start;
}

/*----------TASK INPUT----------*/
form {
  display: flex;
  justify-content: flex-start;
}

input[type=text] {
  background-color: var(--light);
  width: 40%;
  border-radius: 0.3rem 0 0 0.3rem;
  border: none;
  border-right: var(--grey) solid 0.1rem;
  padding: 0.2rem 1rem;
  margin: 0;
}

input[type=submit] {
  font-size: 2rem;
  color: var(--dark);
  background-color: var(--light);
  padding: 0.2rem 1.5rem;
  border-radius: 0 0.3rem 0.3rem 0;
  border: none;
  cursor: pointer;
}

.add-task {
  font-size: 1.3rem;
  margin: 1rem 4rem 2.5rem;
}

/*----------TASKS----------*/
ul {
  padding: 0;
}

li.task {
  background-color: var(--light);
  list-style: none;
  border-radius: 0.3rem;
  margin: 0.1rem 4rem;

  display: flex;
  justify-content: space-between;
}

li.task > div {
  display: flex;
  align-items: center;
}

input[type=checkbox] {
  width: 1rem;
  height: 1rem;
  margin: 0.75rem 2rem;
}

li.task > img {
  width: 1.4rem;  
  margin-right: 2rem;
  cursor: pointer;

  justify-self: flex-end;
}

/*----------COMPLETED----------*/
li.completed-task {
  background-color: var(--grey);
  list-style: none;
  border-radius: 0.3rem;
  margin: 0.1rem 4rem;

  display: flex;
  justify-content: space-between;
}

li.completed-task > div {
  text-decoration: line-through;

  display: flex;
  align-items: center;
}

li.completed-task > img {
  fill: red;
  width: 1.4rem;  
  margin-right: 2rem;
  cursor: pointer;

  justify-self: flex-end;
}